body {
    overflow:hidden;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
    background: url(imgs/ghostbackground.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

#container {
    width:400px;
    height:400px;
    padding:0;
    box-sizing:border-box;
    margin-bottom:300px;
}

*:after, *:before {
    box-sizing:inherit;

}

#left-light {
    background:purple;
    width:140px;
    height:150px;
    position:relative;
    border-top-left-radius:900px;
    border-top-right-radius:900px;
    z-index:1;
    left:-330px;
    top:60px;
}

#white-part-of-light1 {
    background:white;
    left:-320px;
    top:-75px;
    position:relative;
    width:110px;
    height:150px;
    border-radius:60px;
    box-shadow:0px 10px 20px 0px white;

}

#middle-light {
    background:purple;
    width:140px;
    height:150px;
    position:relative;
    border-top-left-radius:900px;
    border-top-right-radius:900px;
    z-index:1;
    left:125px;
    top:-240px;
}

#white-part-of-light2 {
    background:white;
    left:140px;
    top:-375px;
    position:relative;
    width:110px;
    height:150px;
    border-radius:60px;
    z-index:0;
    box-shadow:0px 10px 20px 0px white;
}

#right-light {
    background:purple;
    width:140px;
    height:150px;
    position:relative;
    border-top-left-radius:900px;
    border-top-right-radius:900px;
    z-index:1;
    right:-605px;
    top:-535px;
}

#white-part-of-light3 {
    background:white;
    right:-620px;
    top:-670px;
    position:relative;
    width:110px;
    height:150px;
    border-radius:60px;
    z-index:0;
    box-shadow:0px 10px 20px 0px white;
}

#spooky {
    margin:10% auto;
    width:80%;
    height:80%;
    animation: translate 2s infinite;
}

#spooky #body {
    position:relative;
    margin:50px auto 0;
    width:180px;
    height:220px;
    background: linear-gradient(rgb(255, 98, 0),rgb(251, 186, 66), rgb(255, 98, 0));
    border-top-left-radius:90px;
    border-top-right-radius:90px;
    bottom:620px;
}

#spooky #body:before, #spooky #body:after {
    content:' ';
    position:absolute;
    top:130px;
    display:inline-block;
    width:36px;
    height:36px;
    border-radius:50%;
    background:linear-gradient(rgb(255, 98, 0),rgb(251, 186, 66), rgb(255, 98, 0));
    animation: floaty .2s infinite;

}

#spooky #body:before {
    left:-18px;
}

#spooky #body:after {
    right: -18px;
}

#spooky #body #eyes {
    display:flex;
    justify-content:space-between;
    margin: 0 auto;
    padding: 90px 0 0;
    width:90px;
    height:20px;
}

#spooky #body #eyes:before, #spooky #body #eyes:after {
    content:' ';
    display:block;
    width:30px;
    height:30px;
    background: #252c49;
    border-radius:50%;
}

#spooky #body #mouth {
    background:#252c49;
    margin:25px auto 0;
    height:30px;
    width:60px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}

#spooky #body #mouth:before {
    content:' ';
    display:block;
    background:#fff;
    margin-left:20px;
    width:10px;
    height:10px;
}

#spooky #body #feet {
    position:absolute; 
    display:flex;
    bottom:-18px;
    width:180px;
    height:36px;
}

#spooky #body #feet > *, 
#spooky #body #feet::before, 
#spooky #body #feet::after {
    content:' ';
    width:36px;
    height:36px;
    background:#ff6b07;
    border-radius:50%;

}

#shadow {
    margin: -90px auto 0;
    background:#252c49;
    width:180px;
    height:40px;
    border-radius:50%;
    animation: translate 2s infinite;
    position:relative;
    bottom:570px;
}

@keyframes floaty {
    0%, 100% {
        transform:translateY(0);
    
    }

    50% {
        transform:translateY(-20px);
    }
}



@keyframes translate {
    50% {
        transform:translate(100px);
    }
    0%, 100% {
        transform:translate(-100px);
    }
}